*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
# ignore virtualenvs
venv/
env/
yourenvname/
.venv
# Server
findcomb_server/.idea/
